/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/tmp/*
!/spec/tmp/.keep

# rspec failure tracking
.rspec_status

# RubyMine
/.idea

# nixified bundle
/nix/vendor
